.Dropdown {
    color: #fff;
    position: relative;
}
.Dropdown > .trig
{
    background-color: #0950e9;
    padding: var(--gap);
}
.Dropdown > .trig:hover {
    opacity: 0.8;
    cursor: pointer;
}

.Dropdown > .trig:active {
    opacity: 0.9;
}

.Dropdown > .list {
    top:100%;
    left: 0px;
    position: absolute;
    background-color: #fff;
    color: #333;
    width: 100%;
}

.Dropdown > .list > div {
    padding: var(--gap-m);
    border-bottom: 1px solid #e1e1e1;
}

.Dropdown > .list > div:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

.Dropdown > .list > div:active {
    background-color: #e1e1e1;
}

