.Btn {
    background-color: #0950e9;
    color: #fff;
    padding: var(--gap-m) var(--gap);
    border-radius: 3px;
    border: none;
}

.Btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.Btn:active {
    opacity: 0.9;
}