.Grid {
    display: grid;
    height: 100%;
}

/* rows */
.Grid.rows {
    grid-template-rows: 60px 1fr;
}
.Grid.rows > :nth-child(1) {
    background-color: #333;
    color: #fff;
    padding: 0 var(--gap);
}


/* cols */
.Grid.cols {
    grid-template-columns: 120px 1fr;
}
.Grid.cols > :nth-child(1) {
    background-color: #e1e1e1;
}
