html, body, #root, .App {
    height: 100%;
}

body {
    background-color: #e1e1e1;
    margin: 0;
}

body, input, button {
    font-family: var(--font-family);
}

h1, h2, h3,h4, h5,h6 {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a.active {
    color: #0950e9;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}