:root {
    --gap: 20px;
    --gap-m: 10px;
    --font-family: 'Poppins', sans-serif;
}


/* this is only an example, we are not using this */
@font-face {
    font-family: "PoppinsLight";
    src: local("PoppinsLight"),
     url("./Assets/fonts/Poppins/Poppins-Light.ttf") format("truetype");
    font-weight: 200;
}