.Line {
    display: flex;
    height: 100%;
    gap: var(--gap);
    align-items: center;
}

.Line.between {
    justify-content: space-between;
}

.Line.center {
    justify-content: center;
}

.Line.rows {
    flex-direction: column;
    gap: var(--gap-m);
}